// Typography Color 
$primary-color: #58e1c1;
$secondary-color: #777;
$white: #fff;
$primary-font: 'Lato', sans-serif;

// Theme Colors For Grid 
$theme-color-1: #927bc1;
$theme-color-2: #fd7856;
$theme-color-3: #deb2ee;
$theme-color-4: #7ee6fd;
$theme-color-5: #88d9a0;
$theme-color-6: #4da2bb;
$theme-color-7: #ec9fa3;
$theme-color-8: #fd9f85;
$theme-color-9: #e4757a;
$theme-color-10: #63cc82;
$theme-color-11: #51ddfc;
$theme-color-12: #80e8d1;


// Button Colors

$default-btn: #51ddfc;
$error-btn: #e4757a;
$info-btn: #927bc1;
$success-btn: #63cc82;
$warning-btn: #fd7856;


// Media Query Breakpoint 

$break-m: 768px;

// Media Queries File


